<html>
    <body>
        <div>
            <form method="POST" action="/new">
                <label for="user">Enter User Name: <input type="text" id="user" name="user"></label>
                <label for="text">Enter your message: <input type="text" id="text" name="text"></label>
                <button id="submit">Submit</button>
            </form>
        </div>
    </body>
</html>