<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Mini Message Board</h1>
        <div class="container">
            <ul class="messages">
                <% messages.forEach((message) => {%>
                    <%- include("messages", {message: message});%>
                <%});%>
            </ul>
        </div>
        <div class="message-button-container"> 
            <form method="GET" action="/new"><button id="submit" class="add-new-message">Add new message</button></form>
        </div>
    </body>
</html>