body {
    background: red;
    text-align: center;
}

h1 {
    margin: 0 auto 50px;
}

.messages {
    margin: 0 auto;
    display: grid;
    max-width: 80vw;
    gap: 5px;
}
.messages li {
    list-style-type: none;
    background-color: yellow;
}

.message-button-container {
    margin-top: 20px;
}

.add-new-message, button {
    padding: 8px 16px;
    font-size: 1.3rem;
}

.form-container {
    margin: 20vh auto 0;
}

.form-container form {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.form-container form label {
    font-size: 1.5rem;
}

input {
    height: 1.6rem;
}

.message-submit {
    padding: 5px 10px;
    font-size: 1.2rem;
}


